body {
    background-color: rgb(255, 255, 255);
    background-size: cover;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    Padding: 0;
}

a, button {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 16px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    align-items: center;
}

header {
    background-color: rgb(129, 206, 128);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10%;
}

h1 {
    color: #ffffff;
}

.logo {
    cursor: pointer;
}
.container-fluid {
    text-align: right;
}
/*---------Slide Animation images--------*/
.slideshowbody{
    margin:0;
    padding:0;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #cecece;
}
.slider {
    width: 1280px;
    height: 720px;
    overflow: hidden;
}
.slides {
    width: 6400px;
    height: 720px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width:20%;
    transition: 2s;
}
.slide img{
    width: 1280px;
    height: 720px;
}
/*maual nav*/
.navigation-manual {
    position: absolute;
    width: 1280px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #23E3C9;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover {
    background:#23E3C9;
}
#radio1:checked ~ .first {
    margin-left:0;
}
#radio2:checked ~ .first {
    margin-left:-20%;
}
#radio3:checked ~ .first {
    margin-left: -40%;
}
#radio4:checked ~ .first {
    margin-left: -60%;
}
/*css auto nav*/
.navigation-auto{
    position: absolute;
    display: flex;
    width: 1280px;
    justify-content: center;
    margin-top: 680px;
}
.navigation-auto div{
    border: 2px solid #23E3C9;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){ 
    margin-right: 40px;
}
#radio1:checker ~ .nagivation-auto .auto-btn1{
    background: #23E3C9;
}
#radio2:checker ~ .nagivation-auto .auto-btn2{
    background: #23E3C9;
}
#radio3:checker ~ .nagivation-auto .auto-btn3{
    background: #23E3C9;
}
#radio4:checker ~ .nagivation-auto .auto-btn4{
    background: #23E3C9;
}
/*---------About Me--------*/
.about-me {
    background-image: url(../image/info.PNG);
    background-color: rgb(129, 206, 128);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 40px;    
}
.facts {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.facts-image {
    margin: 20px;
    float: left;
}
.row {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
/*---------Navbar--------*/
.nav__links li {
    display: inline-block;
    padding: 7px 7px;
    padding-top: 25px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: rgb(235, 163, 81);
    width: auto;
}
/*---------button--------*/
button {
    padding: 7px 20px;
    background-color:rgb(246, 133, 46);
    border: none;
    border-radius:50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color:rgba(180, 90, 34, 0.8)
}
/*---------footer--------*/
footer {
    background-image: url(../image/footer.PNG);
    background-color: rgb(129, 206, 128);
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff;
    padding: 50px;
}