body {
    background-color: #4d774e;
    background-size: cover;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    Padding: 0;
}
a, button {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 16px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    align-items: center;
}
header {
    background-color: #164a41;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 10%;
}
h1 {
    font-size: 5em;
    font-weight: bold;
    color: #ffffff;
}

.logo {
    cursor: pointer;
}
.container-fluid {
    text-align: right;
}
/*---------About Me--------*/
.my-work {
    background-image: url(../image/title_left.PNG);
    background-color: #4d774e;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 80px;   
    padding-right: 600px; 
}
/*----------Gallary---------*/
.photo {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.image-left {
    position: relative;
    width: 600px;
    float: left;
}
.image-right {
    position: relative;
    width: 600px;
    float: right;  
}
.image__img {
    display: block;
    width: 100%;
    border-radius: 20px;

}
.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color:#cecece;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 20px;
}

.image__overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}
.image__overlay:hover {
    opacity: 1;
}
.image__outlay:hover>* {
    transform: translateY(0);
}
.image__title {
    font-size: 2em;
    font-weight: bold;
}
.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}
.row {
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
/*---------Navbar--------*/
.nav__links li {
    display: inline-block;
    padding: 7px 7px;
    padding-top: 25px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    color: rgb(235, 163, 81);
    width: auto;
}
/*---------button--------*/
button {
    padding: 7px 20px;
    background-color:rgb(246, 133, 46);
    border: none;
    border-radius:50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color:rgba(180, 90, 34, 0.8)
}
/*---------footer--------*/
footer {
    background-image: url(../image/footer.PNG);
    background-color: #9dc88d;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
    color: #ffffff;
    padding: 50px;
}